<template>
  <span class="tex-mute ">User management / </span>
  <span class="tex-dark fw-bold ">
    {{Heading}}
  </span>
</template>
<script>
  export default {
    props: {
      Heading: String
    }
  }
</script>