<template>
    <div class="col-lg-4 col-md-12 col-sm-12 gs-3  ">
        <div class="card w-100" style="height:450px;">
            <div class="card-body d-flex justify-content-center ">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="align-content-center"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt="image"
                                style="height: 170px;">
                        </div>
                    </div>
                    <div class="text-center fs-3">
                        <span>Numerey Account</span>
                    </div>
                    <div>
                        <div class="progress" style="height:25px" role="progressbar" aria-label="Danger example"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger text-end" style="width: 100%">100%</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col justify-content-around">
                            <button class="btn w-100 my-2 " @click="handleShowInfo">
                                <span>personal info</span>
                            </button>
                            <button class="btn w-100 mt-2 mb-0"  @click="handleShowSettings">
                                <span>Security Settings</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-8 col-sm-12 bg-white gs-3    ">
  <div v-if="showInfo">
    
     <info />
    </div>
    <div v-if="showSettings">
        
    <settings  />
</div>      
</div>

</template>
<script>
    import settings from '../../components/view/view2/securitySetting.vue'
    import info from '../../components/view/view2/info.vue'
    export default {
        components: {
            settings,
            info
        },
        data(){
            return {
                showInfo:false,
                showSettings:false
            }
        },
    
    methods :{
        handleShowInfo(){
            this.showInfo=true;
            this.showSettings=false;
        },
        handleShowSettings(){
            this.showInfo = false;
            this.showSettings = true;
        }
    }
}
</script>