<template>
    <div class="col col-sm-1 col-lg-2       px-sm-2 px-0 bg-white d-flex sticky-top vh-100">
        <div
            class="d-flex flex-sm-column flex-row flex-grow-1 
                    align-items-center align-items-sm-start px-0 pt-2 
                    text-white border border-start-0 border-info  ">
            <div class="row text-center mt-1 py-3 d-flex flex-xl-row flex-md-row flex-sm-column ">
                <img src="./img/numerey.png" style="width: 30%; height: 80%;">
                <span class="col text-dark fw-bold text-wrap"
                    style="width: auto;height: 10  0%;font-size: 16px;">Numerey
                    Admin</span>
            </div>
            <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap 
                        flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center 
                         align-items-center align-items-sm-start" id="menu">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="ms-1 d-none d-sm-inline">User management</span>
                    </a>
                    <ul class="dropdown-menu text-small text-center shadow" aria-labelledby="dropdown">
                        <li> <button class="dropdown-item" type="button" @click="changeHeading">Profile</button></li>
                        <li><button class="dropdown-item" type="button" @click="hello">User List</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default {
        method: {
            changeHeading() {

                console.log('hi')
            }
        }
    }
</script>