<template>
  <div class="row ">
    <div class="col card ">
      <div class="card-header ">
        <modal @handle-save="handleSave" />
      </div>
      <div class="card-body ">
        <table class="table align-items-center mb-0 bg-white">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">username</th>
              <th scope="col">firstname</th>
              <th scope="col">LastName</th>
              <th scope="col">AccessLevel</th>
              <th scope="col">UserStatus</th>
              <th scope="col">Create At</th>
              <th scope="col">Update At</th>
              <th scope="col"> Phone Numble</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in user.allUsers" :key="user.id">
              <th scope="row">{{user.id}}</th>
              <td>{{user.username}}</td>
              <td>{{user['first_name']}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.access_level}}</td>
              <td>{{user.user_status}}</td>
              <td>{{user['create_at']}}</td>
              <td>{{user.update_at}}</td>
              <td>{{user.phone_number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import API from '../../api/api.js';
  import modal from '../../components/view/view2/modal.vue'
  export default {
    components: {
      modal
    },
    data() {
      return {
        user: []
      };
    },
    mounted() {
      console.log('abc')
      // this.fetchUsers();
      console.log('abcdf')
    },
    emits: ['handle-save'],
    methods: {
      // fetchUsers() {
      //   const token = '1027|VnQK2uDZlajnXaRSttlVPcXFYh4lzjnZ7Sd9E6IV'
      //   console.log(token)
      //   API.get('/api/admin/all-users', {
      //     headers: {
      //       'Authorization': `Bearer ${token}`,
      //     }
      //   })
      //     .then(response => {
      //       console.log('response data', response);
      //       this.user = response;
      //       console.log('user info', this.user.allUsers[1])
      //     })
      //     .catch(error => {
      //       alert('error' + error.message);
      //     })
      // },
      handleSave() {
        console.log('buoc2')
        
        this.$emit('handle-Save')
      },
     
    },
  }


</script>