<template>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#exampleModal" >Add new users   </button>
<div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel text-center">Add new user</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="card " >
                <div class="card-header text-center ">form data</div>
          <div class="mx-3 mb-3">
            <label for="email" class="col-form-label">email:</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="mx-3 mb-3">
            <label for="username" class="col-form-label">username:</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="mx-3 mb-3">
            <label for="password" class="col-form-label">password:</label>
            <input type="password" class="form-control" id="password">
          </div>
          <div class="mx-3 mb-3">
            <label for="access-level" class="col-form-label">access level:</label>
            <input type="text" class="form-control" id="access level">
          </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" @click="alert">Save</button>
      </div>
    </div>
  </div>
</div>
</template>
<script>
    export default{
    method: {
        alert() {
            this.$emit('handle-save')
        }
    }
}
</script>