<template>

        <div class="card ">
            <div class="card-header form ">
                <div class="d-flex">
                    <div class="w-100 ">change password</div>
                    <div class="d-flex flex-shrink-1 "> <button type="button" class="btn btn-primary btn-sm "
                            style="background-color: blueviolet;">save</button></div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form class="  ">
                <div class="row ">
                    <div class="col col-3 ">        
                        
                            <label for="New Password" class="form-label">New Password</label>
                        <input type="password" class="form-control border border-2 " id="New Password" style="height: 25px;">
                        
                    </div>
                </div>
            </form>
        </div>
        
</template>