<template>
    <div class="container-fluid overflow-hidden d-flex">
        <div class="row vh-100 overflow-auto">
            <sidebar />
            <div class="col overflow-auto">
                <div class="col d-flex flex-row " style="height: 15%">
                    <heading v-bind:Heading="heading" />
                </div>
                <div>
                    <!-- from here is the tpl for side bar button content -->
                    <div class=" row bg-body-secondary d-flex justify-content-around overgrow-auto ">
                        <userList @handle-Save="handleAlertM()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Profile from '../components/view/Profile.vue'
    import heading from '../components/view/heading.vue'
    import userList from '../components/view/userList.vue'
    import sidebar from '../components/view/sidebar.vue'
    export default {
        components: {
            sidebar,
            heading,
            userList,
            Profile
        },
        emits: ['handle-Save'],
        data() {
            return {
                heading: 'Numerey'
            }
        },
        method: {

            handleAlertM() {
                console.log('buoc3')
            },
           
        }
    }
</script>
<style>
    .editted-btn {
        position: relative;
        margin-left: 40px;
    }
</style>