<template>
  <section class="vh-100" style="background-color: #d9edff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form>

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0 text-start">Welcome back</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3 text-start" style="letter-spacing: 1px;">Login to the Dashboard</h5>

                    <div class="form-outline mb-4">
                      <input v-model="account.username" type="text" class="form-control form-control-lg"
                        placeholder="username" />
                    </div>

                    <div class="form-outline mb-4">
                      <input v-model="account.password" type="password" class="form-control form-control-lg"
                        placeholder="password" />
                    </div>

                    <div class="d-grid gap-2">
                      <button @click="login" class="btn btn-primary" type="button">login</button>

                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="https://mixkit.imgix.net/art/preview/mixkit-left-handed-man-sitting-at-a-table-writing-in-a-notebook-27-original-large.png?q=80&auto=format%2Ccompress&h=700"
                  alt="image" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>

  import accounts from '../accounts.json';
  import API from '../api/api.js'
  export default {
    name: 'Login',
    data() {
      return {
        loginInfo: [],
        account: {
          username: 'phongw@aibb.vn',
          password: '5gVrJ2&Ez#aDgiN',
        }
      };

    },

    methods: {

      login() {
        // const account = accounts.find(
        //   (acc) => acc.username === this.account.username && acc.password === this.account.password
        // );
        // if (account) {
          console.log(this.account.username,this.account.password )
          const data = {
            email : this.account.username,
            password : this.account.password,
          }
            API.post('/api/admin/login',data)
            .then(response => {
              const token = response.data.token;
              localStorage.setItem('token', token);
              this.$router.push('/admin');
            })
            .catch (error => {
              alert('error')
            });
          
        // } else {
        //   alert('Đăng nhập không thành công. Vui lòng kiểm tra lại tài khoản.');
        // }
      },
    },


  };
</script>