
<template>
 <div>
  <router-link to ="Admin"></router-link>
  <router-link to ="/"></router-link>
  <router-view></router-view>
</div>
</template>
<script>
  import Login from './components/Login.vue'
  import Admin from './components/Admin.vue'
  export default {
  components: {
    Login ,
    Admin
} 
  }
</script>